$propList:line-height,width,height,font-size;
@mixin lh($number:0,$unit) {
    $value:$number;
    @if $unit {
        $value:$number + $unit;
    }
    line-height: $value;
}
@mixin w($number,$unit){
    $value:$number;
    @if $unit {
        $value:$number + $unit;
    }
    width: $value;
}
@mixin h($number,$unit){
    $value:$number;
    @if $unit {
        $value:$number + $unit;
    }
    height: $value;
}
@mixin fs($number,$unit){
    $value:$number;
    @if $unit {
        $value:$number + $unit;
    }
    font-size: $value;
}
@mixin direction($dir,$number:0,$unit) {
    $value:$number;
    @if $unit {
        $value:$number + $unit;
    }
    #{$dir}:$value;
}